@{

}

<div class="container">
    <h1 class="page-title">Register on ALTI Travel</h1>
</div>
<div class="gap"></div>

<div class="container" id="divSignUp">
    <div class="row" data-gutter="60">
        <div class="col-md-4">
            <h3>Welcome to ALTI Travel</h3>
            <p>Our team are looking forward to welcoming you & your esteemed guests, ALTI Group providing a wide range of travel experiences and services in conjunction with local partners in different destinations to be sure and certain that our services will always fascinate your clients with unforgettable memories & affordable costs</p>
        </div>
        <div class="col-md-4">
            <h3>Contact Person</h3>
            <form>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Name</label>
                    <input class="form-control" placeholder="e.g. john Doe" type="text" id="txtCName" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Position</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtCPosition" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Phone No</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtCPhone" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Fax No</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtCFax" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Mobile No</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtCMobile" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>email</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtCEmail" />
                </div>
            </form>
            <div class="gap"></div>
            <h3>Accounts Contact Person</h3>
            <form>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Name</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtAName" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Phone No</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtAPhone" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Fax No</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtAFax" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Mobile No</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtAMobile" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>email</label>
                    <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="txtAEmail" />
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Company Info</h3>
            <form>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-university input-icon input-icon-show"></i>
                    <label>Company Name</label>
                    <input class="form-control" placeholder="e.g. Swan Co." type="text" id="txtComName" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Company Short Name</label>
                    <input class="form-control" placeholder="e.g. SW" type="text" id="txtComShortName" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-book input-icon input-icon-show"></i>
                    <label>Commercial Registration No</label>
                    <input class="form-control" placeholder="e.g. A10165B43" type="text" id="txtComRegNo" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Country</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComCountry" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>City</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComCity" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>P.O. Box Number</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComPOBNo" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>ZIP/Postal Code</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComZipCode" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Address this show in your voucher</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComAddress" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Company Land Line No</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComLandLine" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Company Fax Line No</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComFax" />
                </div>
                <div class="form-group form-group-icon-left">
                    <i class="fa fa-user input-icon input-icon-show"></i>
                    <label>Company Web Address</label>
                    <input class="form-control" placeholder="e.g. John Doe" type="text" id="txtComWebsite" />
                </div>
                <a class="btn btn-primary" onclick="fwLink(102103)">Sign Up</a>
            </form>
        </div>
    </div>
</div>

<div class="gap"></div>