@{

}



<div class="container">
    <h1 class="page-title">About Us</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="text-bigger">ALTI Group, is a truly destination management company established in 1998, specializing in providing a wide range of travel experiences and services for FITs, Groups, Incentives, MICE and VIP markets, catering for all standards and budgets of travel. Services include everything from meet & assist at the airport to accommodation, transfers, excursions, sightseeing, tour guides etc.</p>
            <p class="text-bigger">ALTI Group’s utmost priority in providing these services is to ensure that clients are getting the best of quality and customer service at all times. All operations and land arrangements are handled in conjunction with local partners in different destinations through professional staff who are working under the ALTI Group umbrella.</p>
        </div>
    </div>
    <div class="gap"></div>
</div>
<div class="bg-holder">
    <div class="bg-parallax" style="background-image:url(../img/people_on_the_beach_1280x852.jpg);"></div>
    <div class="bg-mask"></div>
    <div class="bg-holder-content">
        <div class="container">
            <div class="gap gap-big text-white">
                <div class="row">
                    <div class="col-md-10">
                        <h2>ALTI Group</h2>
                        <p class="text-bigger">ALTI Group credibility and strength has been achieved through its long standing position and experience in the travel industry. Since its establishment in 1998 ALTI Group has become a pioneer well-known tour operator serving thousands of clients yearly from different countries around the world to the Middle East through an existing network of 1,020 partners of travel agents & tour operators (buyers) globally; mainly “Europe, East Europe, GCC and other Arab countries, United States, Canada and the Far East”.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="gap"></div>
    <h2>Our Approach</h2>
    <div class="row">
        <div class="col-md-8">
            <p class="text-bigger">Cubilia gravida mus senectus donec consectetur dis ac vel quis a suscipit potenti purus aptent nibh gravida aliquet vestibulum varius dictum consectetur semper consectetur at varius donec sociis habitasse vivamus eget faucibus tempus donec lorem etiam volutpat blandit aliquam varius molestie nibh mattis adipiscing sodales dictumst volutpat quam rhoncus sodales</p>
        </div>
    </div>
    <div class="gap"></div>
    <h2>Rockstar Team</h2>
    <div class="row">
        <div class="col-md-10">
            <p class="text-bigger mb30">Auctor sit parturient aenean sodales maecenas fusce potenti tristique lectus dapibus hendrerit habitant tristique vulputate vehicula quisque nisl curabitur varius enim quam maecenas facilisis inceptos auctor gravida massa facilisis risus</p>
        </div>
    </div>
    <div class="row row-wrap" data-gutter="60">
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/amaze_300x300.jpg" alt="Image Alternative text" title="AMaze" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Joseph Hudson</h5>
                    <p class="thumb-meta text-small">Project Manager</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/gamer_chick_300x300.jpg" alt="Image Alternative text" title="Chiara" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Leah Kerr</h5>
                    <p class="thumb-meta text-small">Product Designer</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/bubbles_300x300.jpg" alt="Image Alternative text" title="Bubbles" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Cheryl Gustin</h5>
                    <p class="thumb-meta text-small">Producer</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/gamer_chick_300x300.jpg" alt="Image Alternative text" title="Gamer Chick" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Sarah Slater</h5>
                    <p class="thumb-meta text-small">CEO</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/afro_300x300.jpg" alt="Image Alternative text" title="Afro" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Oliver Ross</h5>
                    <p class="thumb-meta text-small">Office Manager</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/me_with_the_uke_300x300.jpg" alt="Image Alternative text" title="Me with the Uke" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">John Mathis</h5>
                    <p class="thumb-meta text-small">Product Designer</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/chiara_300x300.jpg" alt="Image Alternative text" title="Andrea" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Neil Davidson</h5>
                    <p class="thumb-meta text-small">Project Manager</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumb text-center">
                <header class="thumb-header">
                    <img class="round" src="~/img/spidy_300x300.jpg" alt="Image Alternative text" title="Spidy" />
                </header>
                <div class="thumb-caption">
                    <h5 class="thumb-title">Oliver Ross</h5>
                    <p class="thumb-meta text-small">Office Manager</p>
                </div>
            </div>
        </div>
    </div>
    <h4>Want to Join Our Team</h4>
    <div class="row">
        <div class="col-md-10">
            <p>Nascetur metus morbi nibh magnis semper elit proin vivamus hac vivamus ultricies hac nulla sodales himenaeos luctus nascetur lacus sed placerat penatibus sociosqu lectus semper tincidunt pellentesque volutpat egestas porttitor</p>
            <a href="#">Explore open positions</a>
        </div>
    </div>
    <div class="gap"></div>
    <h2 class="mb20">Behing the Scenes</h2>
</div>
<div class="row row-no-gutter">
    <div class="col-md-3">
        <img src="~/img/the_big_showoff-take_2_800x600.jpg" alt="Image Alternative text" title="Old No7" />
    </div>
    <div class="col-md-3">
        <img src="~/img/gaviota_en_el_top_800x600.jpg" alt="Image Alternative text" title="me" />
    </div>
    <div class="col-md-3">
        <img src="~/img/street_800x600.jpg" alt="Image Alternative text" title="Old No7" />
    </div>
    <div class="col-md-3">
        <img src="~/img/playstation_controller_800x600.jpg" alt="Image Alternative text" title="Going out tonight" />
    </div>
    <div class="col-md-3">
        <img src="~/img/branding__ipad_interactive_design_800x600.jpg" alt="Image Alternative text" title="me" />
    </div>
    <div class="col-md-3">
        <img src="~/img/old_no7_800x600.jpg" alt="Image Alternative text" title="Old No7" />
    </div>
    <div class="col-md-3">
        <img src="~/img/going_out_tonight_800x600.jpg" alt="Image Alternative text" title="Going out tonight" />
    </div>
    <div class="col-md-3">
        <img src="~/img/me_800x600.jpg" alt="Image Alternative text" title="me" />
    </div>
</div>
<div class="container">
</div>
