
<div class="gap"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding: 30px;">
            <h4><strong>Permission Required</strong></h4>
            <p>@Prog.Terminal.Message</p>
        </div>
    </div>
    <div class="gap"></div>
</div>
